<div class="field">

    <div class="card-stack">
        @for(i of [0, 1, 2, 3, 4, 5, 6]; track i) {
        @if (i < 6) { <img [ngStyle]="{'right.px': (i-3) * 1, 'bottom.px': (i-3) * 2}"
            src="/assets/img/cards/card_cover.png" alt="">
            }
            @else { <img (click)="takeCard()" class="top-card"
                [ngStyle]="{'right.px': (i-3) * 1, 'bottom.px': (i-3) * 2}" src="/assets/img/cards/card_cover.png"
                alt="">
            @if (pickCardAnimation) {
            <img (click)="takeCard()" class="top-card pic-card"
                [ngStyle]="{'right.px': (i-3) * 1, 'bottom.px': (i-3) * 2}" src="/assets/img/cards/spade_1.png"
                alt="">
            }
            }
            }
    </div>

</div>